[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hargo"]
	path = themes/hargo
	url = https://github.com/gethugothemes/hargo-hugo.git
